@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&family=PT+Serif+Caption&display=swap');
body{
    width: 95%;
}
h1{
    font-family: 'PT Serif Caption', serif;
    font-size: 80px ;
    color: #04146c;
}
a{
    font-family: 'PT Mono', monospace;
    font-size: 32px;
    color: #04146c;
    text-decoration: none ;

}
.linkss::after{
    content: '/';

}
.link{
    font-family: 'PT Mono', monospace;
    font-size: 32px;
    color: #0a2ff1;
}
.container{
    display: flex;
    justify-content: space-between;
}
p{
    font-family: 'PT Serif Caption', serif;
    font-size: 40px;
    color: #0a2ff1;
}
h2,li{
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #04146c;
}
li{
    font-weight: 400;
}
ul:first-of-type li:nth-child(1){
    list-style-image: url('./Recursos/vector.svg');
}
ul:first-of-type li:nth-child(2){
    list-style-image: url('./Recursos/foto.svg');
}
ul:nth-of-type(2) li:nth-child(1){
    list-style-image: url('./Recursos/licencia.svg');
}
ul:nth-of-type(2) li:nth-child(2){
    list-style-image: url('./Recursos/precio.svg');
}