@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');
body{
    font-family: 'Mulish', sans-serif;
    padding-left: 15px;
}
.renglom{
    border: 2px solid #04146c;
}
h2{
    font-weight: 900;
    font-size: 53px;
    color: #04146c;
    margin-bottom: 5px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
img{
    width: 70%;
}
.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 40px;
    color: #04146c;
    margin: 0;
}
#imagen5{
    height: 50%;
}
