@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif; 
}
@font-face {
    font-family: Coolvetica;
    src: url('./Recursos/coolvetica\ rg.otf');
}
h1{
    font-family: Coolvertica;
    font-size: 120px;
    color: #0a2ff1;
}
#container{
    display: flex;
    justify-content: space-around;
}
.cajita{
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: #eff2ff;
}
.nombre-pais,strong,p{
    font-weight: 300;
    font-size:24px;
    color: #04146c;
}
.nombre-pais{
    font-style: italic;
}
strong{
    font-weight: 900;
}
p{
    font-weight: 400;
}
#subtitulo, span{
    font-weight: 300;
    font-size: 40px;
    color: #04146c;
}
span{
    font-weight: 700;
}